.form-control {
    display: flex;
    flex-flow: column;
}

.form-control label {
    font-weight: 700;
    margin-bottom: .2rem;
}

.form-required {
    color: red;
}

input[type="text"] {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
}

textarea {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
}