.review-card {
    background-color: rgb(40,40,40);
    border-radius: .5rem;
    padding: 1rem;
}

.review-card-header {
    border-bottom: 1px solid white;
    display: flex;
    flex-flow: column;
}

.review-card-header h2 {
    margin-top: 0;
    margin-bottom: .1rem;
}

.review-card-header-subtitle {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.review-card-header-subtitle span {
    margin-right: .6rem;
}

.review-card-body {
    margin: 1rem 0;
}

.review-card-body div {
    line-height: 1.7rem;
}

.review-card-footer {
    border-top: 2px solid var(--border_color) ;
    display: flex;
    flex-flow: column;
}

.review-card-footer-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-right: 1rem;
}

.review-card-footer-header span {
    margin-left: .2rem;
}

span {
    font-weight: 700;
}

h4 {
    color: white;
}