.container {
    display: flex;
    flex-flow: column;
}

.review-form {
    /* position: fi; */
}

/* .column {
    height: 100%;
    flex: 100%; 
}

@media (min-width: 768px) {
    .column {
        flex: 100%; 
    }
}

.reviews {
    display: flex;
    flex-flow: column;
} */
