.project-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;
}

.project-info div {
    width: 100%;
}

.project-info button {
    font-size: 18px;
    line-height: 28px;
    padding: 14px 26px;
    border-radius: 1rem;

    border: 2px solid var(--border_color);
    background-color: white;
}

.project-info button:hover {
    cursor: pointer;
    background-color: var(--text_color);
}