:root {
  --bg_color: rgb(24, 26, 27);
  --text_color: rgb(203, 198, 192);
  --border_color: rgba(140, 130, 115, 0.13);
  --header_color: rgb(178, 172, 162);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', serif;
  background-color: var(--bg_color);
  color: var(--text_color);
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', serif;
  color: var(--header_color);
}
